.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 200px 10px 200px 10px 200px 10px 200px 10px 200px;
  grid-template-rows: repeat(5, 200px);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.gallery > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.gallery > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.gallery > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.gallery > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.gallery > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.gallery > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}.gallery > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}.gallery > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}.gallery > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}.gallery > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}.gallery > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}.gallery > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.photo {
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Specify the position for each photo */
.photo1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.photo2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.photo3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.photo4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.photo5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.photo6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.photo7 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.photo8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.photo9 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.photo10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.photo11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.photo12 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}